<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroup">

            <mat-form-field class="full-width">
              <input matInput formControlName="nombre" placeholder="Nombre">
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="correo" placeholder="Correo">
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="clave" type="password" placeholder="Contraseña">
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker"
                     placeholder="Fecha de nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Pais</mat-label>
              <mat-select formControlName="pais">
                <mat-option *ngFor="let opt of pais"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option *ngFor="let opt of sexo"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Educación</mat-label>
              <mat-select formControlName="educacion">
                <mat-option *ngFor="let opt of educacion"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Contextura</mat-label>
              <mat-select formControlName="contextura">
                <mat-option *ngFor="let opt of contextura"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Sexo de interes</mat-label>
              <mat-select formControlName="sexoInteres">
                <mat-option *ngFor="let opt of sexo"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Contextura de interes</mat-label>
              <mat-select formControlName="contexturaInteres">
                <mat-option *ngFor="let opt of contextura"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="registrar()" [disabled]="formGroup.invalid">Registrar
          </button>
          <button mat-raised-button (click)="cancelar()">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
