<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroup">
            <mat-form-field class="full-width">
              <input matInput formControlName="login" placeholder="Correo">
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
              <input matInput formControlName="password" type="password" placeholder="Contraseña">
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" [disabled]="formGroup.invalid">Ingresar
          </button>
          <button mat-raised-button (click)="register()">Registro
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
