<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="aficionesFormGroup">
            <mat-form-field class="full-width">
              <mat-label>Aficion</mat-label>
              <mat-select formControlName="aficion">
                <mat-option *ngFor="let opt of aficiones"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addAficion()">Agregar aficion</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
