<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cargar foto de lugar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <angular-file-uploader #fileUpload1
                                 [config]="afuConfig"
                                 (ApiResponse)="goBack()">
          </angular-file-uploader>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
