<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lugar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroup">
            <mat-form-field class="full-width">
              <mat-label>Pais</mat-label>
              <mat-select formControlName="pais">
                <mat-option *ngFor="let opt of paises"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Lugar</mat-label>
              <mat-select formControlName="lugar">
                <mat-option *ngFor="let opt of lugares"
                            value="{{opt.key}}">{{opt.value}}</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Conocido</mat-label>
              <mat-select formControlName="conocido">
                <mat-option value="1"> SI</mat-option>
                <mat-option value="0"> NO</mat-option>
              </mat-select>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addLugar()">Agregar lugar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
