<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Perfil</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="miPerfil.nombre" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha de nacimiento"
                       [(ngModel)]="miPerfil.fechaNacimiento" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Correo" [(ngModel)]="miPerfil.correo" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Pais" [(ngModel)]="miPerfil.pais" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Educacion" [(ngModel)]="miPerfil.educacion" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Contextura" [(ngModel)]="miPerfil.contextura" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Sexo" [(ngModel)]="miPerfil.sexo" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Contextura de interes"
                       [(ngModel)]="miPerfil.sexoInteres"
                       disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Sexo de interes"
                       [(ngModel)]="miPerfil.contexturaInteres"
                       disabled>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>aficiones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <table mat-table [dataSource]="aficionesDatasource" class="mat-elevation-z8">
                <ng-container matColumnDef="Aficion">
                  <th mat-header-cell *matHeaderCellDef> Aficion</th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="verFotoAficion(element.key)">Ver Foto
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="aficionesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: aficionesDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addAficion()">Agregar aficion</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lugares</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <table mat-table [dataSource]="lugaresDatasource" class="mat-elevation-z8">
                <ng-container matColumnDef="Lugar">
                  <th mat-header-cell *matHeaderCellDef> Lugar</th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="verFotoLugar(element.key)">Ver Foto
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="lugaresDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: lugaresDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addLugar()">Agregar lugar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Consulta de perfiles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <form [formGroup]="formGroup">
                <mat-form-field class="full-width">
                  <mat-label>Perfiles</mat-label>
                  <mat-select formControlName="perfil">
                    <mat-option *ngFor="let opt of perfiles"
                                value="{{opt.key}}">{{opt.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="perfil.nombre" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha de nacimiento"
                       [(ngModel)]="perfil.fechaNacimiento" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Correo" [(ngModel)]="perfil.correo" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Pais" [(ngModel)]="perfil.pais" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Educacion" [(ngModel)]="perfil.educacion" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Contextura" [(ngModel)]="perfil.contextura" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Sexo" [(ngModel)]="perfil.sexo" disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Contextura de interes" [(ngModel)]="perfil.sexoInteres"
                       disabled>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Sexo de interes" [(ngModel)]="perfil.contexturaInteres"
                       disabled>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
